.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    grid-template-rows: repeat(10, 60px);
    grid-gap: 4px;
    padding: 20px;
}

.element {
    background: white;
    border: 1px solid #aaa;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.element:hover {
    transform: scale(1.25, 1.25);
    z-index: 1;
    cursor: pointer;
}

.element .number {
    font-size: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.element .name {
    font-size: 8px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}